<div class="container">
<form action="/update_brand_name/<%= @brand.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="brand">Update Brand Name:</label>
  <input id="brand" name="brand" type="text">
  <input id="price" name="price" type="text">
  <button type="submit">Update Price</button>
</form>






<h1>Updated <%= @brand.brand %>  and <%= @brand.price  %>information.</h1>
</div>
