<h2>Brand: <%= @brand.brand %>, Price: $<%= @brand.price%></h2>

<div class="row">
  <div class="col-md-6">
    <form action="/update_brand_name/<%= @brand.id() %>" method="post">
      <input name="_method" type="hidden" value="patch">
      <input id="brand" name="brand" type="text" placeholder="Update Brand Name">
      <input id="price" name="price" type="text" placeholder="Update Brand Price">
      <button type="submit">Update Price</button>
    </form>
    <br>
    <h4>Updated <%= @brand.brand %> information.</h4>
  </div>

  <div class="col-md-6">
  </div>
</div>
