
<div class="container">
  <h2>Shoe Distribution:</h2>
<h3>Add a new store:</h3>
<div class="form-control">
  <form action="/store_names" method="post">
    <label for="name">Select a store:</label>
    <input id="name" name="name" type="text">
    <button type="submit">Submit</button>
  </form>
</div>
<div>
<h3>Add a brand:</h3>
<div class="form-control">
  <form action="/brand_names" method="post">
    <label for="brand">Current Brands:</label>
    <input id="brand" name="brand" type="text">
    <button type="submit">Submit</button>
  </form>
</div>
  <div class="column-md-6">
    <h3>Shoe Stores:</h3>
    <% @stores.each do |store| %>
    <h3><a href='/each_store/<%= store.id %>/'><%= store.name %></a></h3>
    <% end %>
  </div>
    </div>
    <h3>Brands:</h3>
    <% @brands.each do |b| %>
    <h3><a href='/each_brand/<%= b.id %>/'><%= b.brand %></a></h3>
    <% end %>

</div>
