<h1>Details about <%= @store.name %>:</h1>
<h3>Check back soon for more!</h3>

<p><a href="/each_store/<%= @store.id() %>/edit">Edit  <%= @store.name() %> info here.</a></p>
<p><a href="/">Return to Main Page</a></p>
